body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.App-logo-gallery {
    position: relative;
    top: 15px;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

.introduction-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Introduction {
    font-size: 16px;
    color: #666;
}

#searchBar {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto 20px auto;;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-item {
    width: calc(33.33% - 40px);
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-item img {
    width: 100%;
    height: auto;
}

.image-item p {
    padding: 10px;
    text-align: center;
    color: #333;
}
